* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#lasagna {
    background-color: antiquewhite;
    color: darkgoldenrod;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
    text-align: center;
    padding: 7px;
    border: 2px solid black;
}

.heading {
    color: darkgoldenrod;
    font-size: 24px;
    font-weight: 600;
}

.heading.two {
    font-size: 18px;
}